/* Add styles for the HomePage component */

/* Container styles */
body {
  background-color: rgb(248, 243, 246); /* Rose gold background color */
  width: 100%;
  margin: 0%;
}

.container {
  background-color: rgb(248, 243, 246); /* Rose gold background color */
  width: 100%;
  margin: 0%;
}

/* Heading styles */
h1 {
  color: #fe0883; /* Rose gold heading color */
  font-family: 'Pacifico';
  text-align: left;
  margin-left: 10px;
  font-size: 48px;
}

/* Lead text styles */
.lead {
  color: #425FAD; 
  font-weight: bolder;
  font-size: 28px;
  font-family: 'Quicksand';
  text-align: left;
  margin-left: 10px;
}

/* Button styles */
.btn-primary {
  background-color: #FF69B4; 
  color: black; 
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 20px;
  font-family: 'Quicksand';
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
  background-color: #fe0883; /* Lighter rose gold on hover */
}

footer {
  text-align: center;
  font-family: 'Pacifico';
  color:#425FAD
}

.user-functions{
  display: flex;
  justify-content: space-between;
  margin: 25px 0px;
  overflow: hidden;
  flex-wrap: wrap;
}

.user-functions .btn-primary {
  max-height: 44px;
  min-width: 105px;
  background-color: #FF69B4;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.user-functions .btn-primary:hover{
  background-color: #fe0883;
} 


.search-box{
  margin-top: 20px;
  max-height: 44px;
  font-family: 'Quicksand';
}

.search-box input,button{
  color:#333;
  padding: 10px;
  margin:auto;
}

.search-box input {
  width: 100%;
  max-width: 400px;
}

@media (min-width: 760px) {
  .search-box input {
    width: 180px;
  }
}

@media (min-width: 1400px) {
  .search-box input {
    width: 240px;
  }
}

@media (min-width: 1700px) {
  .search-box input {
    width: 300px;
  }
}

@media (min-width: 2000px) {
  .search-box input {
    width: 360px;
  }
}

.login .btn-primary{
  background-color: #FFB85F;
  min-width: 80px;
}

.login .btn-primary:hover{
  background-color: #f99d2d;
}

.signup .btn-primary{
  background-color: #FFB85F;
  min-width: 80px;
}

.signup .btn-primary:hover{
  background-color: #f99d2d;
}