/* Import your custom styles as needed */
/* @import "../asset/style/AppNavBar.css"; */

/* Style for the navigation bar */
nav {
  background-color: #ffbfca; /* Rose Gold background color */
  color: black; /* White text color */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  /* position: fixed; */
  width: 100%;
  margin:0px 10px;
  padding: 3px 10px;
  font-family: 'Quicksand';
  font-size: larger;
}

/* Style for the navigation bar links */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between; /* Space out the links evenly */
}

nav li {
  padding: 8px 20px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: color 0.2s;
  padding: 8px 20px; 
}

/* Style the buttons on hover */
nav a:hover {
  color: #fff; /* Change text color to a deeper pink on hover */
  background-color: #fe0883;
}


/* Style for the search box */
.search-box {
  display: flex;
}
.active-link {
  color: #fff; /* Change text color to a deeper pink on hover */
  background-color: #fe0883;
}

.search-box input {
  padding: 4px;
  border: solid 1px;
  border-radius: 4px;
  background-color: #fff; /* White background for search input */
}

.search-button {
  background-color: #ff69b4; /* Pink background color for the search button */
  color: #000;
  border: none;
  border-radius: 4px;
  margin-left: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
