/* Add styles for the DisplayPage component */

/* Page container */
.display-page {
  font-family: 'Quicksand';
  background-size: cover;
  padding: 10px;
}

.container-fluid{
  padding: 20px;
}

.display-page h2 {
  color: #fe0883; 
  padding-left: 20px;
  margin: 10px 0px;
  font-family: 'Pacifico';
  text-transform: capitalize;
  font-size: 36px;
}

.display-page h3 {
  font-size: larger;
  color: black;
  text-align: center;
  font-weight: bold;
}

/* Post card */
.post-card {
  background-color: #fde5e8;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.post-card-img {
  float: right;
  width: 90%;
  max-width: 320px;
  height: auto;
  border-radius: 8px;
  margin: auto;
}

@media (min-width: 750px) {
  .post-card-img {
    float: center;
  }
}

.post-card h3 {
  font-size: 28px;
  color: #fe0883; /* Rose gold heading color */
  margin: 5px 0px 0px 0px;
  font-weight: bold;
  font-family: 'Quicksand';
}

.post-card p {
  color: #C70107; /* Gold text color */
  margin: 0% 3%;
  text-align: left;
  font-size: 17px;
    /* font-family: Helvetica, Arial, sans-serif; */
}

.post-card .post-content {
  color: #101010; /* Dark text color */
  margin-top: 0%;
}

.post-card .post-meta {
  color: #101010; /* Dark text color */
  margin-top: 10px;
}

.post-card a{
  margin: 0px 0px 5px 0px;
  padding: 3px 15px;
  border-radius: 2px;
  font-size: 20px;
}

.post-meta {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.post-meta p {
  margin: 0px 20px;
}
/* Pagination buttons */
.pagination {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 0px 20px;
  flex-wrap: wrap;
}

.pagejump{
  display: flex;
}

.pagejump p,input,button{
  margin: 10px 10px;
  display: flex;
}

.prev {
  display: flex;
  justify-content: flex-start;

}

.next {
  display: flex;
  justify-content: flex-end;
}

.likechecked {
  text-align: left;
  font-size: 30px;
}

.pagination button {
  background-color: #FFB85F; /* Rose gold button background color */
  color: black; /* White button text color */
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 0px;
  margin-bottom: auto;
  cursor: pointer;
}

.pagination button:hover {
  color: white;
  background-color: #f99d2d; /* Lighter rose gold on hover */
}
