h2 {
    color: #fe0883; 
    font-family: 'Pacifico';
    text-align: left;
    margin-left: 0px;
    font-size: 36px;
}

.edit-form {
    padding: 20px;
    background-color: rgb(248, 243, 246);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Quicksand';
    }

.edit-form .form-group {
    margin-bottom: 15px; 
    }

.edit-form .form-control {
    display: block; 
    width: 100%; 
    margin-left: auto; 
    margin-right: auto;
    border: #FFB85F solid 1px;
    }

.edit-form button {
    width: 180px; 
    max-width: 300px;
    padding: 10px;
    margin: 15px auto; 
    /* display: block;  */
    }

label {
    font-size: 24px;
    color: #757575;
}
