/* Add styles for the HomePage component */

/* Container styles */
.container {
  background-color: rgb(248, 243, 246); /* Rose gold background color */
  /* padding: 20px; */
}

/* Heading styles */
h1 {
  color: #fe0883; /* Rose gold heading color */
}


/* Button styles */
.btn-primary {
  background-color: #FF69B4; /* Rose gold button background color */
  color: black; /* White button text color */
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 20px;
}

.btn-primary:hover {
  background-color: #fe0883; /* Lighter rose gold on hover */
}

/* DisplayPage styles */
/* You can link to your existing DisplayPage CSS file here */
