.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    left: 0; 
    background-color: #fceff2;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #fe0883;
    font-size: 15px;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    /* display:table */
    display:contents;
  }
  
  