.dropdown .btn-primary {
  position: relative;
  display: inline-block;
}

.dropdown-content a {
  color: #fe0883;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

.dropdown .btn-primary:hover {
  color: white;
  background-color: #fe0883;
}

.dropdown-content {
  position: absolute;
  text-align: left;
  display: contents;
  min-width: 100px;
  z-index: 1;
}
